:root {
    --color-tittle: #365902;
    --color-bt: #D6352D;
    --color-bar: #83A603;
    --heigth-img: clamp(1.5rem, calc(5vw - 0.25rem), 4rem);
    --font-16: clamp(0.3em, calc(1.5vw - 0.2em), 1em);
    --font-18: clamp(0.4em, calc(2vw - 0.2em), 1.125em);
}
*{
    border: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2.5vw;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.left-navegation {
    display: flex;
    align-items: center;
}

.left-navegation img {
    height: var(--heigth-img);
    width: auto;
    margin-left: 2vw;
}

h1 {
    font-family: 'Philosopher', sans-serif;
    font-size: clamp(12px, calc(2.5vw - 0.25rem), 1.75rem);
    color: var(--color-tittle);
}

.left-navegation ul {
    display: flex;
    font-family: 'Sanchez', serif;
    font-size: var(--font-18);
}

.left-navegation nav ul li a {
    color: black;
    transition: 0.2s;
}

.left-navegation nav ul li a:hover {
    border-top: 4px solid var(--color-tittle);
}

.profile ul {
    display: flex;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
    font-size: var(--font-16);
}
#bar {
    width: clamp(1px, calc(1vw - 0.3rem), 3px);
    height: var(--heigth-img);
    border: 1px solid var(--color-tittle);
    background-color: var(--color-bar);
    margin: 0 0.8vw;
}

#btn-join {
    padding: clamp(2px, calc(1vw - 0.1rem), 7px) clamp(3.4px, calc(1.2vw - 0.1rem), 12px);
    color: white;
    border-radius: clamp(1px, calc(1vw - 0.1rem), 10px);
    background-color: var(--color-bt);
}

#btn-join:hover {
    padding: clamp(2px, calc(1vw - 0.1rem), 7px) clamp(3.4px, calc(1.2vw - 0.1rem), 12px);
    color: var(--color-bt);
    box-shadow: 0px 0px 1px 2px var(--color-bt);
    border-radius: clamp(1px, calc(1vw - 0.1rem), 10px);
    background-color: white;
    transition: 0.5s;
}

.left-navegation ul li {
    margin-left: 2.5vw;
    flex-shrink: 0;
}

.left-navegation ul li:first-child {
    margin-left: 3.5vw;
}

.profile ul li {
    margin-right: 2vw;
}

.profile ul li a {
    color: var(--color-bt);
}

.profile ul li:first-child:hover {
    border-top: 4px solid var(--color-bt);
    transition: 0.2s;
}


/* Código  que eu criei*/

#image-fixed{
    width: 100%;
    height: 50vh;
    background: url(img/hort.png);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    color: goldenrod;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

main > h2{
    margin-top: 5%;
    font-family: 'Philosopher', sans-serif;
    font-size: 2.8em;
}

form{
    background-color: rgb(238, 245, 238);
    padding: 5%;
    margin-top: 1%;
    font-family: 'Open Sans', sans-serif;
    font-size: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10%;
    gap: 4vw;
}

#name{
    width: 35%;
    border-radius: 1vw;
    padding: 2%;
    border: 0.2vw solid black;
}
#name::placeholder{
    font-size: 1.5em;
    padding: 5%;
}

form > div{
    text-align: center;
    display: flex;
    gap: 8vw;
}

#btn{
    background-color: var(--color-tittle);
    border: 0.2vw solid rgb(1, 71, 7);
    width: 35%;
    height: 6vh;
    border-radius: 1vw;
    font-size: 1em;
    color: white;
}

.divAva{
    width: 100%;
    height: 100vh;
}

/* Nome de quem avaliou */
section{
    padding: 2%;
    margin-top: 10%;
    text-align: center;
    border-radius: 1vw;
}

#nameAva{
    font-size: 2.5em;
}

section span{
    font-size: 1.4em;
}

section > div{
    margin-top: 10%;
}

section > div > div{
    margin-top: 10%;
}